<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Teams Market--- Crypto sport teams and prediction games </title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/dapp_style.css" rel="stylesheet">
    <!--link href="../css/main.css" rel="stylesheet"-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="user-info">
    <span class="menu"></span>
  <table>
    <tr>                          
    <td>
    <div class="text-left" ><strong>User:</strong></div>
    <div class="text-left" id="account"></div>
    </td>
    <td >                              
    </td> 
    <td>                        
    </td>    
    <td>
    <div class="text-right user-balance"><strong>ETH Balance:</strong></div>
    <div class="text-right user-balance" id="balance"></div>
    </td>
    <td >                              
    </td> 
    <td>                        
    </td>
    <td>
      <div class="text-right user-balance"><strong>TGC Balance:</strong></div>
      <div class="text-right user-balance" id="TGCbalance"></div>
      </td>    
    </tr>
    </table>                  
</div>                 	                
		 <div class="top-menu">
			 <span class="menu"></span>
			  <ul>
    <li>
        <a href="../index.html">Home</a></li>
    <li >
        <a href="index.html">Market</a></li>
    <li class="active">
        <a href="#">Matches</a></li>
    <li>
        <a href="mine.html">Mine</a></li>
			 </ul>       			        
		 </div>	
	<div class="banner-dapp">
	<div class="container">
		<div class="banner-dapp-left">
			<p>Matches</p>
      <p></p>
		</div>
		<div class="clearfix"> </div>
	</div>
	</div>
	
	<div class="container" id="gamesRow">
      <div class="clearfix"> </div>
  </div>		
    <div class="row first-row small-up-1 medium-up-2" id="gameTemplate" style="display: none;">
      <div class="column" >
        <div class="game-block" >
          <div class="game-block__back">
            <div class="back"></div>
            <div class="date"><span></span></div>
            <div class="teams">
              <div class="team" ><img id="teamA" src=""></div>
              <div class="vs">vs</div>
              <div class="team" ><img id="teamB" src=""></div>
            </div>
          </div>          
            
          <div class="game-block__bottom" game-id="0">
            <div class="prize" ng-if="game.status !== 'CANCELING'">
              <div class="caption">Smart Contract Value</div>
              <div class="SmartContractValue"><span></span></div>
            </div>
            <div ng-if="game.status !== 'CANCELING'">
                <div class="caption">Point Spread</div>
                <div class="pointSpread">><span></span></div>
              </div>
            <!--div class="prize" ng-if="game.status === 'CANCELING'">
              <div class="caption">Factor:</div>
              <div class="count">Game cancelled</div>
            </div-->
            <button class="btn btn-default btn-bet" type="button" data-id="0">Make a bet ETH</button>
            <button class="btn btn-default btn-redeem" type="button" data-id="0">Redeem ETH</button>
            <!--a class="button" ng-class="{'j-popup-btn': game.urlPart === null}" data-popup="pick-score-coming-soon" data-id="0">
              <span ng-if="game.status === 'PLAYING'">Make a bet ETH</span>
              <span ng-if="game.status !== 'PLAYING' && game.status !== 'CANCELING'">View Game Details</span>
              <span ng-if="game.status === 'CANCELING'">Return bet</span>
            </a-->
          </div>
          <div class="game-block__footer">
            <div class="right" id="timeStopBuy"></div>
          </div>
        </div>
      </div>
    </div>
		

	

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/web3.min.js"></script>
    <script src="../js/truffle-contract.js"></script>
    <script src="../js/matches.js"></script>
    <script src="../js/angularjs/angular.min.js"></script>
   
  </body>
</html>
