<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Own a team, to earn ETH!	Make a bet, to get TTG!	Join a lottery, to win BTC! Crypto sport teams can earn ETH, a decentralized prediction market is also being built on the ethereum blockchain.">
		<meta name="google" content="index,follow" />
		<meta name="googlebot" content="index,follow" />
		<meta name="verify" content="index,follow" />
		<meta name="keywords" content="ethereum, decentralized application, ETH, crypto, currency, betting, prediction, sport teams, sport matches, lottery"/>
		<meta name="apple-mobile-web-app-capable" content="yes" /> 
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
		<meta name="format-detection" content="telephone=no, email=no" /> 
		<meta name="HandheldFriendly" content="true" /> 
		<meta name="MobileOptimized" content="320" /> 

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TotalGame --- Crypto sport teams and prediction games </title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="bookmark" href="/favicon.ico"/>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/dapp_style.css" rel="stylesheet">
    <link href="../css/matches.css" rel="stylesheet">
    <!--link href="../css/main.css" rel="stylesheet"-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--script type="text/javascript" src="../js/vue.js"></script-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
</head>

<body>
    <div class="user-info">
    <span class="menu"></span>
  <table>
    <tr>                          
    <td>
    <div class="text-left" ><strong>User:</strong></div>
    <div class="text-left" id="account"></div>
    </td>
    <td >                              
    </td> 
    <td>                        
    </td>    
    <td>
    <div class="text-right user-balance"><strong>ETH Balance:</strong></div>
    <div class="text-right user-balance" id="balance"></div>
    </td>
    <td >                              
    </td> 
    <td>                        
    </td>
    <td>
      <div class="text-right user-balance"><strong>TTG Balance:</strong></div>
      <div class="text-right user-balance" id="TTGbalance"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="top-menu">
        <span class="menu"></span>
        <ul>
            <li>
                <a href="../index.html">Home</a></li>
            <li>
                <a href="index.html">Market</a></li>
            <li class="active">
                <a href="#">Matches</a></li>
            <li>
                <a href="TTG.html">TTG</a></li>
            <li>                
                <a href="mine.html">Mine</a></li>
            <li>
                <a href="bounty.html">Bounty</a></li>                
        </ul>
    </div>
    <div class="banner-dapp">
        <div class="container">
            <div class="banner-dapp-left">
                <p>Matches</p>
                <p></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div id="container">
        <div class="container matches-box" id="gamesRow">
            <h2 class="section-title">All games</h2>
            <div class="filter">
                <div class="filter__top">
                    <div class="tabs">
                            <div class="item" :class="{ isAllActive: gamesStatus==1 && !isAllGames }" @click="checkStatus(0,1)">Upcoming</div>
                            <div class="item" :class="{ isAllActive: gamesStatus==2 && !isAllGames }" @click="checkStatus(0,2)">Processing</div>
                            <div class="item" :class="{ isAllActive: gamesStatus==3 && !isAllGames }" @click="checkStatus(0,3)">Finished</div>
                        <div class="item" :class="{ isAllActive: isAllGames }" @click="allGames">All games</div>
                        <!--div class="item" :class="{ isAllActive: !isAllGames }" @click="pickWinner">Pick winner</div-->
                    </div>
                    <div class="sort"><span class="sort-span">Sort by</span>
                        <select class="sort-select" v-model="sortType" @change="sortVal()">
                            <option value="1" selected="selected">Earliest</option>
                            <option value="2">Latest</option>
                        </select>
                    </div>
                </div>
                <div class="filter__bottom">
                    <div class="count"><span v-text="total"></span> games</div>
                    <div class="order" @click="showSearch">
                        <svg class="order-svg">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </svg>
                        <span>Filter / Search</span>
                    </div>
                </div>
                <transition name="fade">
                    <div class="filter__slide-block active" v-if="search">
                        <div class="row first-row small-up-1 medium-up-2">
                            <div class="column">
                                <div class="input-wrapper">
                                    <input class="input input--search" type="search" placeholder="Search team" v-model="searchStr" @keyup="gamesListHandle()">
                                    <button class="search-button" type="button">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="column">
                                <div class="tournament">
                                    <span>Tournament</span>
                                    <select v-model="tournamentType" @change="gamesListHandle()">
                                        <option default="" value="all">View all</option>
                                        <option v-for="(item,index) in TournamentGameList" :key="index" :value="item.groupName" v-text="item.groupName"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="section-title section-title--small">Game status</div>
                        <div class="tags">
                            <div class="tag" :class="{ active: gamesStatus == 1 }" @click="checkStatus(gamesStatus,1)">Open for Bets</div>
                            <div class="tag" :class="{ active: gamesStatus == 2 }" @click="checkStatus(gamesStatus,2)">In progress</div>
                            <div class="tag" :class="{ active: gamesStatus == 3 }" @click="checkStatus(gamesStatus,3)">Complete</div>
                            <div class="tag" :class="{ active: gamesStatus == 4 }" @click="checkStatus(gamesStatus,4)">Cancelled</div>
                        </div>
                    </div>
                </transition>
            </div>
            <div class="row first-row small-up-1 medium-up-2" id="gameTemplate">
                <div class="col-sm-6 col-md-6 col-lg-6" v-for="item in dataList">
                    <div class="game-block">
                        <div class="game-block__back">
                            <div class="back" v-bind:style="{ backgroundImage: 'url(' + item.BackgroundImg + ')' }"></div>
                            <div class="date">
                                    <!-- <span v-if="!item.HaveDraw" class="game-type">PICK WINNER</span>
                                    <span v-else class="game-type">PICK WINNER (NO DRAW)</span> -->
                                <span class="start-time" v-text="item.DeadlineTimeStr"></span></div>
                            <div class="teams">
                                <div class="team">
                                    <img :src="item.TeamAPicture">
                                    <span class="" v-text="item.TeamA"></span>
                                </div>
                                <div class="vs">vs</div>
                                <div class="team">
                                    <img :src="item.TeamBPicture">
                                    <span class="" v-text="item.TeamB"></span>
                                </div>
                            </div>
                        </div>
                        <div class="game-block__bottom">
                            <div class="prize">
                                <div v-if="item.Game_Status != 4" class="caption">SMART CONTRACT VALUE</div>
                                <div v-else class="caption">FACTOR:</div>
                                <div v-if="item.Game_Status != 4" class="count" v-text="item.Contract_Value + ' ETH'"></div>
                                <div v-else class="count">CANCELLED</div>
                            </div>
                            <a v-if="item.Game_Status == 1 || item.Game_Status == 2" class="eth-button" @click="goToDetail(item)">
                                <span class="">Make a bet (0.01 ETH)</span>
                            </a>
                            <a v-else-if="item.Game_Status == 3" class="eth-button" @click="goToDetail(item)">
                                <span class="">VIEW GAME DETAILS</span>
                            </a>
                            <a v-else class="eth-button" @click="goToDetail(item)">
                                <span class="">RETURN BET</span>
                            </a>
                        </div>
                        <div class="game-block__footer">
                            <div class="right">Deadline to Enter: <span class="" v-text="item.DeadlineTimeStr"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <div class="pages">
                    <div class="page" @click="goTo(index)" v-for="(itme, index) in numList" :key="index" v-text="index + 1" :class="{ active: page == index}">1</div>
                </div>
            </div>
        </div>
    </div>
<!-- footer -->
<div class="footer" id="contact">
	<div class="container">
		<div class="footer-icons">
			<ul>
				<li><a href="https://www.facebook.com/totalgameservice/" class="facebook"> </a></li>
				<li><a href="https://twitter.com/Totalgame8" class="twitter"> </a></li>
				<li><a href="https://t.me/joinchat/TTGgame" class="dribble"> </a></li>
				<li><a href="mailto:totalgamefans@gmail.com" class="g-plus"> </a></li>
			</ul>
		</div>
		<p>Copyright &copy; 2018. TOTALGAME.IO All rights reserved.<a target="_blank" href="http://www.totalgame.io/">Total Game Co, Ltd</a></p>
	</div>
	</div>
<!-- //footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src ="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.3/dist/loadingoverlay.min.js"></script>    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/web3.min.js"></script>
    <script src="../js/truffle-contract.js"></script>
    <script src="../js/matches.js"></script>
    <!-- <script src="../js/angularjs/angular.min.js"></script> -->
   
  </body>
</html>
