<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Own a team, to earn ETH!	Make a bet, to get TTG!	Join a lottery, to win BTC! Crypto sport teams can earn ETH, a decentralized prediction market is also being built on the ethereum blockchain.">
		<meta name="google" content="index,follow" />
		<meta name="googlebot" content="index,follow" />
		<meta name="verify" content="index,follow" />
		<meta name="keywords" content="ethereum, decentralized application, ETH, BTC, betting, prediction, sport teams, sport matches, lottery"/>
		<meta name="apple-mobile-web-app-capable" content="yes" /> 
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
		<meta name="format-detection" content="telephone=no, email=no" /> 
		<meta name="HandheldFriendly" content="true" /> 
		<meta name="MobileOptimized" content="320" /> 

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TotalGame --- Crypto sport teams and prediction games </title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="bookmark" href="/favicon.ico"/>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/dapp_style.css" rel="stylesheet">
    <link href="../css/matchesDetail.css" rel="stylesheet">
    <!--script type="text/javascript" src="../js/vue.js"></script-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
</head>

<body>
    <div class="user-info">
        <span class="menu"></span>
        <table>
            <tr>
                <td>
                    <div class="text-left"><strong>User:</strong></div>
                    <div class="text-left" id="account"></div>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <div class="text-right user-balance"><strong>ETH Balance:</strong></div>
                    <div class="text-right user-balance" id="balance"></div>
                    </td>
                    <td >                              
                    </td> 
                    <td>                        
                    </td>
                    <td>
                      <div class="text-right user-balance"><strong>TTG Balance:</strong></div>
                      <div class="text-right user-balance" id="TTGbalance"></div>
                </td>
            </tr>
        </table>
        </div>
    <div class="top-menu">
        <span class="menu"></span>
        <ul>
            <li>
                <a href="../index.html">Home</a></li>
            <li>
                <a href="index.html">Market</a></li>
            <li class="active">
                <a href="matches.html">Matches</a></li>
            <li>
                <a href="TTG.html">TTG</a></li>                         
            <li>
                <a href="mine.html">Mine</a></li>
            <li>
                <a href="bounty.html">Bounty</a></li>                
        </ul>
    </div>
    <div class="banner-dapp">
        <div class="container">
            <div class="banner-dapp-left">
                <p>Match Details</p>
                <p></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--     <div class="row">
        <button class="button button-big button_redeem">Redeem</button>
    </div> -->
    <div id="matchesDetailContainer">
        <div class="container matches-box" id="gamesRow">
            <section class="game-heading container">
                <div class="row first-row small-up-1 medium-up-2 align-middle">
                    <div class="column">
                        <h1 class="section-title">Pick winner</h1>
                    </div>
                    <div class="column text-right">
                        <div class="prize">
                            <span class="caption">Smart Contract Value</span>
                            <span class="count_right">
                                <span v-text="contractValueResult"></span> ETH
                            </span>
                            <a class="question-button question-button--small tooltiped tooltipstered" href="https://etherscan.io/address/0x5dc66C1835fD8d60ef2Ec31901Ee3F33dE9c61a1" target="_blank">?</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="game-billboard" v-bind:style="{ backgroundImage: 'url(' + gameGroup.BackgroundImg + ')' }">
                <div class="container animated fadeIn">
                    <div class="row align-middle" itemscope="" itemtype="http://schema.org/SportsEvent">
                        <div class="column small-order-2 medium-order-1 small-6 medium-4">
                            <div class="team-logo">
                                <div class="image">
                                    <img :src="gameGroup.TeamAPicture" v-bind:alt="gameGroup.TeamA + 'logo'">
                                </div><span itemprop="homeTeam" v-text="gameGroup.TeamA"></span>
                            </div>
                        </div>
                        <div class="column small-order-1 medium-order-2 small-12 medium-4">
                            <div class="date" itemprop="startDate" v-text="gameGroup.DeadlineTimeStr"></div>
                            <div class="place" itemprop="location" v-text="gameGroup.City"></div>
                            <div itemscope="" itemtype="http://schema.org/Thing">
                                <div class="round" itemprop="description" v-text="gameGroup.Group"></div>
                            </div>
                            <div class="vs">vs</div>
                            <div class="divider"></div>
                            <div class="countdown">
                                <div class="animated fadeIn">
                                    <div v-if="gameGroup.Game_Status == 1 || gameGroup.Game_Status == 2" class="countdown__caption" v-text="'GAME CLOSES:'"></div>
                                    <div v-else-if="gameGroup.Game_Status == 3" class="countdown__caption" v-text="'FINAL SCORE'"></div>
                                    <div v-else class="countdown__caption" v-text="'CANCELLED'"></div>
                                    <div v-if="gameGroup.Game_Status == 1 || gameGroup.Game_Status == 2" class="countdown__time" v-text="gameGroup.DeadlineTimeStr"></div>
                                    <div v-if="gameGroup.Game_Status == 3" class="countdown__caption result_score" v-text="gameGroup.ScoreA + ' : ' + gameGroup.ScoreB"></div>
                                </div>
                            </div>
                        </div>
                        <div class="column small-order-3 medium-order-3 small-6 medium-4">
                            <div class="team-logo">
                                <div class="image">
                                    <img :src="gameGroup.TeamBPicture" v-bind:alt="gameGroup.TeamB + 'logo'">
                                </div>
                                <span itemprop="awayTeam" v-text="gameGroup.TeamB"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <!-- <section class="buy-ticket-2" v-if="gameGroup.Game_Status == 1"> -->
                <section class="buy-ticket-2" v-if="gameGroup.Game_Status == 1">
                    <div class="row small-up-1 medium-up-3">
                        <div class="column">
                            <div class="buy-ticket-button wide" :class="{ active: isCheckWinner == 1 }" @click="checkWinner(1)">
                                <img class="team-icon" :src="gameGroup.TeamAPicture" v-bind:alt="gameGroup.TeamA + 'logo'">
                                <span>Win</span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="buy-ticket-button wide points_spread" title="Every match has an associated point spread. This is a positive or negative number that is added to the ﬁnal score of teamA (the home team) prior to evaluating the outcome of a match. This is done so that even teams with different skill levels can be traded at close to even odds, and also so that ties (“pushes”) cannot occur (because in most sports scores are integers but point spreads have fractional components). TotalGame chooses its point-spreads based of the initially posted vegas or off-shore lines.">Points Spread: {{queryData.Points_Spread}}</div>
                        </div>
                        <div class="column">
                            <div class="buy-ticket-button wide" :class="{ active: isCheckWinner == 2 }" @click="checkWinner(2)">
                                <img class="team-icon" :src="gameGroup.TeamBPicture" v-bind:alt="gameGroup.TeamB + 'logo'">
                                <span>Win</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column small-12 medium-2">
                            <label>Bet Value, ETH:</label>
                            <div class="score-counter score-counter--right tooltipstered" data-min="0.005">
                                <div class="score-counter__buttons">
                                    <div class="up" @click="ETHUp">
                                        <svg>
                                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                        </svg>
                                    </div>
                                    <div class="down" @click="ETHDown">
                                        <svg>
                                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                        </svg>
                                    </div>
                                </div>
                                <div class="score-counter__count score-counter__count--small">
                                    <input type="number" placeholder="0.05" v-model="ETHNumber" @keyup="ETHNumberHandle()">
                                </div>
                            </div>
                        </div>
                        <div class="column small-12 medium-6">
                            <label>Quick Amounts:</label>
                            <div class="buy-ticket-button" :class="{ active: isCheckETH == 1 }" @click="checkETH(1)">
                                0.01
                            </div>
                            <div class="buy-ticket-button" :class="{ active: isCheckETH == 2 }" @click="checkETH(2)">
                                0.02
                            </div>
                            <div class="buy-ticket-button" :class="{ active: isCheckETH == 3 }" @click="checkETH(3)">
                                0.05
                            </div>
                            <div class="buy-ticket-button" :class="{ active: isCheckETH == 4 }" @click="checkETH(4)">
                                0.1
                            </div>
                            <div class="buy-ticket-button" :class="{ active: isCheckETH == 5 }" @click="checkETH(5)">
                                0.5
                            </div>
                        </div>
                        <div class="column small-12 medium-4 text-center">
                            <label class="green upper">Smart Contract Value</label>
                            <div class="grand-prize">
                                <span v-text="contractValueResult"></span> ETH
                            </div>
                            <a class="question-button question-button--small tooltiped tooltipstered" href="https://etherscan.io/address/0x5dc66C1835fD8d60ef2Ec31901Ee3F33dE9c61a1" target="_blank">?</a>
                        </div>
                    </div>
                    <div class="row collapse small-up-1 medium-up-3 align-middle text-center">
                        <div class="column">
                            <div class="prize">Estimated win:&nbsp;
                                <span v-text="preEstimatedWin + ' ETH'"></span>
                            </div>                            
                        </div>
                        <div class="column">
                            <button v-if="gameGroup.Game_Status == 1" class="button button--big" v-text="'make a (' + ETHNumber + ' eth) bet'" @click="makeBET"></button>
                            <button v-if="gameGroup.Game_Status == 2" class="button button--big">Game On Process</button>
                            <button v-if="gameGroup.Game_Status == 3 && isWinner" class="button button--big" @click="redeemETH">Redeem ETH</button>
                            <button v-if="gameGroup.Game_Status == 3 && !isWinner" class="button button--big" @click="redeemNoETH">Redeem ETH</button>
                            <button v-if="gameGroup.Game_Status == 4" class="button button--big" @click="returnBet">Return Bet</button>
                        </div>
                        <div class="column">
                            <label class="upper">Time to enter</label>
                            <div class="time " v-text="gameGroup.DeadlineTimeStr"></div>
                        </div>
                    </div>
                </section>
                <section class="previous-games container">
                    <h2 class="section-title">Your Bet List</h2>
                    <h3 class="section-title section-title--small">This matches bet list</h3>
                    <div class="table-wrapper">
                        <div class="table-scroll">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Tournament</td>
                                        <td></td>
                                        <td>Game Details</td>
                                        <td></td>
                                        <td>Game Played</td>
                                        <td>Smart Contract Value</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;">
                                        <td>
                                            <span v-text="gameGroup.Group"></span>
                                        </td>
                                        <td>
                                            <div class="logo-icon">
                                                <img :src="gameGroup.TeamAPicture">
                                            </div>
                                            <span v-text="gameGroup.TeamA"></span>
                                        </td>
                                        <td v-text="'VS'"></td>
                                        <td>
                                            <div class="logo-icon">
                                                <img :src="gameGroup.TeamBPicture">
                                            </div>
                                            <span v-text="gameGroup.TeamB"></span>
                                        </td>
                                        <td>
                                            <span v-text="gameGroup.DeadlineTimeStr"></span>
                                        </td>
                                        <td>
                                            <div class="logo-icon">
                                                <img src="../images/eth-icon.png">
                                            </div>
                                            <span class="eth" v-text="gameGroup.Contract_Value + ' ETH'"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="bet-box" v-for="(item,index) in betList" :key="index">
                            <div class="bet-item bet-right">
                                <p>PICKED WINNER</p>
                                <div class="picked-team">
                                    <img :src="item.pickedTeamPicture">
                                    <span class="picked-team-title" v-text="item.pickedTeam"></span>
                                </div>
                                <p>Bet Amount: <span v-text="item.pickedBetAmount"></span><span> ETH</span></p>
                                <p>Factor: <span v-text="item.pickedFactor"></span></p>
                            </div>
                            <div class="bet-item bet-center">
                                <P>ESTIMATED WIN</P>
                                <P class="picked-estimated"><span v-text="item.pickedEstimatedWin"></span> ETH</P>
                            </div>
                            <div class="bet-item bet-left">
                                <p>
                                    <!--button v-if="gameGroup.Game_Status == 1" class="bet-explore" @click="userExplore(item)">EXPLORE</button>
                                    <button v-if="gameGroup.Game_Status == 2" class="bet-explore">Game On Process</button-->
                                    <button v-if="gameGroup.Game_Status == 3 && item.pickedPayMent && !item.pickedHasPayed" class="bet-explore" @click="redeemETH(item)">Redeem ETH</button>                                    
                                    <button v-if="gameGroup.Game_Status == 3 && item.pickedPayMent && item.pickedHasPayed" class="bet-explore" >Has Been Paid</button>                                    
                                    <!--button v-if="gameGroup.Game_Status == 3 && !isWinner" class="bet-explore" @click="gameDetails">Game Details</button-->
                                    <button v-if="gameGroup.Game_Status == 4" class="bet-explore" @click="returnBet">Return Bet</button>
                                </p>
                                <p>Other Players with this match: <span v-text="item.pickedOtherNum"></span></p>
                                <p>Purchase Date: <span v-text="item.pickedPurchaseDateStr"></span></p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="previous-games container">
                    <h2 class="section-title">Previous Games</h2>
                    <h3 class="section-title section-title--small">Last matches</h3>
                    <div class="table-wrapper">
                        <div class="table-scroll">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Tournament</td>
                                        <td></td>
                                        <td>Game Details</td>
                                        <td></td>
                                        <td>Game Played</td>
                                        <td>Smart Contract Value</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" v-for="(item,index) in gamesDoneList" :key="index">
                                        <td>
                                            <span v-text="item.Group"></span>
                                        </td>
                                        <td>
                                            <div class="logo-icon">
                                                <img :src="item.TeamAPicture">
                                            </div>
                                            <span v-text="item.TeamA"></span>
                                        </td>
                                        <td v-text="item.ScoreA + ':' + item.ScoreB"></td>
                                        <td>
                                            <div class="logo-icon">
                                                <img :src="item.TeamBPicture">
                                            </div>
                                            <span v-text="item.TeamB"></span>
                                        </td>
                                        <td>
                                            <span v-text="item.DeadlineTimeStr"></span>
                                        </td>
                                        <td>
                                            <div class="logo-icon">
                                                <img src="../images/eth-icon.png">
                                            </div>
                                            <span class="eth" v-text="item.Contract_Value + ' ETH'"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row small-up-1 large-up-2 align-middle first-row">
                            <div class="column small-order-2 large-order-1">
                                <a class="button button--bordered" href="matches.html">View all games</a>
                            </div>
                            <div class="column small-order-1 large-order-2">
                                <div class="total">
                                    <span class="section-title section-title--small">Total ETH won </span>
                                    <div class="logo-icon">
                                        <img src="../images/eth-icon.png">
                                    </div>
                                    <span class="eth big" v-text="totalWon + ' ETH'"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <section class="more-games container">
                <div class="text-center">
                    <h2 class="section-title">More games</h2>
                    <h3 class="section-title--small section-title--margin">Future matches</h3>
                </div>
                <div class="row first-row small-up-1 medium-up-2">
                    <div class="col-sm-6 col-md-6 col-lg-6" v-for="(item,index) in moreGamesList" :key="index">
                        <div class="game-block">
                            <div class="game-block__back">
                                <div class="back" v-bind:style="{ backgroundImage: 'url(' + item.BackgroundImg + ')' }"></div>
                                <div class="date">
                                    <!-- <span class="game-type">PICK WINNER</span> -->
                                    <span v-text="item.DeadlineTimeStr"></span>
                                </div>
                                <div class="teams">
                                    <div class="team">
                                        <img :src="item.TeamAPicture">
                                        <span class="" v-text="item.TeamA"></span>
                                    </div>
                                    <div class="vs">vs</div>
                                    <div class="team">
                                        <img :src="item.TeamBPicture">
                                        <span class="" v-text="item.TeamB"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="game-block__bottom">
                                <div class="prize">
                                    <div class="caption">SMART CONTRACT VALUE</div>
                                    <div class="count" v-text="item.Contract_Value + ' ETH'"></div>
                                </div>
                                <a class="button" @click="goToDetail(item)">
                                    <span>Make a bet (0.005 ETH)</span>
                                </a>
                            </div>
                            <div class="game-block__footer">
                                <div class="right">Deadline to Enter: 
                                    <span v-text="item.DeadlineTimeStr"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

<!-- footer -->
<div class="footer" id="contact">
	<div class="container">
		<div class="footer-icons">
			<ul>
				<li><a href="https://www.facebook.com/totalgameservice/" class="facebook"> </a></li>
				<li><a href="https://twitter.com/Totalgame8" class="twitter"> </a></li>
				<li><a href="https://t.me/joinchat/TTGgame" class="dribble"> </a></li>
				<li><a href="mailto:totalgamefans@gmail.com" class="g-plus"> </a></li>
			</ul>
		</div>
		<p>Copyright &copy; 2018. TOTALGAME.IO All rights reserved.<a target="_blank" href="http://www.totalgame.io/">Total Game Co, Ltd</a></p>
	</div>
	</div>
<!-- //footer -->    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src ="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.3/dist/loadingoverlay.min.js"></script>    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/web3.min.js"></script>
    <script src="../js/truffle-contract.js"></script>
    <script src="../js/matchesDetail.js"></script>
    <!-- <script src="../js/angularjs/angular.min.js"></script> -->
</body>

</html>