.previous-games {
    text-align: center;
    margin-bottom: 120px;
}

.section-title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}

.previous-games .section-title--small {
    margin-bottom: 50px;
}

.section-title--small {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
.previous-games .table-wrapper {
    background: #25343e;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 30px;
}

.table-scroll {
    overflow-x: auto;
}

.table-scroll table {
    width: auto;
}

.previous-games table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    white-space: nowrap;
}

.previous-games table thead td {
    padding-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: #98abb7;
    text-align: center;
    font-weight: 400;
}

.previous-games table tbody tr {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: #2b3d48;
    border-bottom: 8px solid #25343e;
}

.previous-games table tbody tr td {
    color:  #fff;
    padding: 17px 20px;
}

.previous-games table tbody tr td:first-child {
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    text-align: left;
}

.previous-games table tbody tr td:last-child {
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 50px;
    text-align: right;
}
.previous-games .logo-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.previous-games .logo-icon img {
    display: block;
    max-width: 30px;
    max-height: 30px;
}

.large-up-2>.column,
.large-up-2>.columns {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.previous-games .button {
    display: block;
}

.button--bordered {
    border: 2px solid #acbc20;
    background: transparent;
}

.previous-games .total {
    color: #ffff;
    margin-bottom: 0;
    padding-right: 50px;
    text-align: right;
}

.previous-games .total .section-title {
    color: #fff;
    margin-right: 10px;
}

.previous-games .section-title--small {
    margin-bottom: 50px;
}

.section-title--small {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.section-title--margin {
    margin-bottom: 40px;
}

.previous-games .logo-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.large-order-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.large-order-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.previous-games .eth.big {
    font-size: 20px;
}

.previous-games .eth {
    font-weight: 800;
    color: #acbc20;
}

.bet-box {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #2b3d48;
    border-radius: 10px;
    margin-bottom: 10px;
}
.bet-item {
    width: 33.33%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding:  10px;
}
.bet-item p,.picked-team {
    width: 100%;
    color: #98abb7;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}
.bet-item img {
    height: 40px;
}
.bet-item span {
    color: #fff;
    font-weight: bold;
}
span.picked-team-title {
    height: 40px;
    line-height: 40px;
    font-size: 28px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}
.bet-center p{
    text-align: center;
}
p.picked-estimated{
    color: #acbc20;
    font-size: 28px;
    font-weight: bold;
}
p.picked-estimated span{
    color: #acbc20;
    font-size: 36px;
}
.bet-left p{
    text-align: right;
}
.bet-explore{
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    outline: none;
    border: 2px solid #acbc20;
    background-color: transparent;
    color:  #fff;
}